:root {
  --accent-color: #26b095;
}

.stage {
  position: relative;
  margin: 0 auto;
  background: #ecf0f1;
  box-shadow: rgba(0, 0, 0, 0.06) 0 0 0 1px, rgba(0, 0, 0, 0.02) 0 0 0 5px;
  touch-action: none;
}

.-transformable {
  transform-origin: 0 0;
}

.img {
  position: absolute;
  left: 0;
  top: 0;
}

.point {
  color: transparent;
  margin: -20px 0 0 -20px;
  padding: 0;
  backdrop-filter: blur(8px) brightness(250%) contrast(70%);
  border-radius: 20px;
  position: absolute;
  height: 40px;
  width: 40px;
  border: none;
  appearance: none;
  background-color: #95a5a680;
  cursor: grab;
  touch-action: none;
}
.point:active {
  cursor: grabbing;
}
.point:active,
.point:focus {
  outline: none;
}
.point:focus-visible {
  outline: 2px solid var(--accent-color);
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
